.pagina-checkout {
    background-color: #f5f2ef;
    min-height: 100vh;
}

.cabecalho-cliente {
    width: 100%;
    padding: 15px 40px;

    display: flex;
    justify-content: space-between;
    align-items:center;

    background-color: #5a2d18;
    color:white;
}

.menu-cliente button {
    padding: 8px 12px;

    background-color: transparent;
    color: white;

    border: 1px solid white;
    border-radius: 6px;

    cursor: pointer;
}

.checkout {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
}

.checkout h1{
    margin-bottom: 25px;
}

.etapa-endereco {
    padding: 25px;

    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.etapa-endereco h2{
    margin-bottom: 10px;
}

.etapa-endereco > p{
    margin-bottom: 20px;
}

.enderecos {
    margin-bottom: 20px;
}

.endereco {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 15px;

    border: 1px solid #ddd;
    border-radius: 6px;

    cursor: pointer;
}

.btn-novo-endereco,
.btn-continuar-pagamento{
    padding: 10px 15px;

    border-radius: 6px;
    cursor: pointer;
}

.btn-novo-endereco{
    background-color: white;
    color: 5a2d18;
}

.btn-novo-endereco {
    background-color: white;
    color: #5a2d18;
    border: 1px solid #5a2d18;
}

.btnc-continuar-pagamento {
    margin-left: 10px;

    background-color: #5a2d18;
    color:white;

    border: none;
}

.etapa-pagamento {
    padding: 25px;

    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.etapa-pagamento h2{
    margin-bottom: 10px;
}

.etapa-pagamento > p{
    margin-bottom: 20px;
}

.cartoes {
    margin-bottom: 20px;
}

.cartao{
    display: flex;
    aign-items: center;
    gap: 10px;

    padding: 15px;

    border: 1px solid #ddd;
    border-radius: 6px;

    cursor: pointer;
}

.btn-novo-cartao,
.btn-continuar-resumo,
.btn-confirmar-pedido{
    padding: 10px 15px;

    background-color: #5a2d18;
    color: white;

    border: none;
    border-radius: 6px;

    cursor: pointer;
}

.btn-novo-cartao{
    background-color: white;
    color: #5a2d18;
    border: 1px solid #5a2d18;
}

.btn-continuar-resumo,
.btn-confirmar-pedido{
    margin-left: 10px;

    background-color: #5a2d18;
    color:white;

    border: none;
}

.form-novo-cartao{
    margin-top: 20px;
    padding: 20px;

    border: 1px solid #ddd;
    border-radius: 6px;
}

.form-novo-cartao h3 {
    margin-bottom: 15px;
}

.form-novo-cartao label {
    display: block;
    margin-bottom: 10px;
}

.form-novo-cartao input {
    display: block;

    width: 100%;
    max-width: 350px;

    padding: 8px;
    margin-top: 5px;
}

.btn-salvar-cartao{
    padding: 10px 15px;

    background-color: #5a2d18;
    color: white;

    border: none;
    border-radius: 6px;

    cursor: pointer;
}

.etapa-resumo{
    padding: 25px;

    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.etapa-resumo h2 {
    margin-bottom: 20px;
}

.resumo-produto,
.resumo-entrega,
.resumo-pagamento,
.resumo-valores {
    padding: 15px ;
    border-bottom: 1px solid #ddd;
}

.resumo-valores {
    border-bottom: none;
}

.btn-confirmar-pedido {
    margin-top: 15px;
    padding: 10px 15px;

    background-color: #5a2d18;
    color: white;

    border: none;
    border-radius: 6px;

    cursor: pointer;
}

.form-novo-endereco {
    margin-top: 20px;
    padding: 20px;

    background-color: #f8f8f8;

    border: 1px solid #ddd;
    border-radius: 8px;
}

.form-novo-endereco label {
    display: block;

    margin-bottom: 15px;

    font-weight: bold;
}

.form-novo-endereco input {
    display: block;

    width: 100%;

    margin-top: 5px;
    padding: 10px;

    border: 1px solid #ccc;
    border-radius: 6px;
}

.btn-salvar-endereco {
    padding: 10px 15px;

    background-color: #5a2d18;
    color: white;

    border: none;
    border-radius: 6px;

    cursor: pointer;
}

.btn-cancelar-endereco {
    padding: 10px 15px;
    margin-left: 5px;

    background-color: white;
    color: #5a2d18;

    border: 1px solid #5a2d18;
    border-radius: 6px;

    cursor: pointer;
}

.btn-continuar-pagamento {
    padding: 10px 15px;

    background-color: #5a2d18;
    color: white;

    border: none;
    border-radius: 6px;

    cursor: pointer;
}

.btn-cancelar-novo-cartao {
    padding: 10px 15px;
    margin-left: 5px;

    background-color: white;
    color: #5a2d18;

    border: 1px solid #5a2d18;
    border-radius: 6px;

    cursor: pointer;
}

.cartao-pagamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    padding: 15px;

    border: 1px solid #ddd;
    border-radius: 6px;
}

.valor-cartao {
    width: 180px;

    padding: 9px;

    border: 1px solid #ccc;
    border-radius: 5px;
}

.cupom-checkout {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cupom-checkout select {
    margin-left: 5px;
    padding: 9px;

    border: 1px solid #ccc;
    border-radius: 5px;
}
