/* Aplica as configurações em todos os elementos da página*/
*{
    margin: 0; /* Remove as margens padrao do navegador*/
    padding: 0; /*Remove os espaçamentos internos padrão*/
    box-sizing: border-box; /* Faz Largura e a altura considerarem o padding e a borda*/
}

/* Configuraçoes gerais da pagina*/
body{ /* Configuraçoes gerais de todas as paginas*/
    font-family: Arial, sans-serif;

}  
.pagina-inicial{/*fundo excluiso da tela inicial*/

    background-image: /*camada escura sobre a imagem de fundo*/linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../images/biblioteca.png");/*imagem de fundo da tela inicial*/
    background-size: cover; /* faz a imagem preencher a tela inteira*/
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat;/* impede que a imagem fique se repetindo*/

}

/* Este é o container principal da pagina inicial*/
.container{
    min-height: 100vh; /* faz com que o texto ocupe no minimo 100% da altura visivel da tela*/

    display: flex; /* ativa o flexbox*/
    flex-direction: column; /* Organiza os elementos verticalmente*/
    justify-content: center; /*Centraliza no eixo vertical*/
    align-items: center; /*Centraliza no eixo horizontal*/
}

/*Area de apresentaçao*/
.apresentacao{
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

/* Titulo principal*/
.apresentacao h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
    
}

/*subtitulo*/
.apresentacao p{
    font-size: 20px;
    margin-bottom: 0;
    color: #d6a77a;
}

/*Container que agrupa os botoes da tela inicial*/
.botoes{
    display: flex; /*Coloca os botoes em um layout flexivel*/
    flex-direction: column;/*coloca um botao embaixo do outro*/
    gap: 15px;
}

/* estilo dos botoes da tela inicial*/
.botoes button{
    width: 100%;
    padding: 12px 24px; /*mexe no espaçamento intero(vertical e horizontal)*/
    font-size: 16px;
    cursor: pointer;
    

}

/* Card de entrada no sistema */
.card-login {
    background-color: rgba(255, 255, 255, 0.90); /*branco com leve transparencia */
    padding: 35px;
    border-radius: 12px; /*arredonda os cantos do card */
    width: 380px; /* largura do card*/
    text-align: center; /*centraliza o "Bemvindo(a)"*/
     box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);/*cria uma sombra atras do card*/
}

/*titulo de dentro do card*/
.card-login h2 {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: normal;
}

/* Botao principal do Cliente */
.btn-cliente{
    background-color: #5a2d18;
    color: white;
    border: none;
    border-radius: 6px;
}

.btn-admin{
    background-color: transparent;
    color: #5a2d18;
    border: 1px solid #5a2d18;
    border-radius: 6px;
}

/*Efeito ao passar o mouse no botao cliente*/
.btn-cliente:hover{ /*classe que aplica essas propriedades abaixo somente quando o mouse passa pelo botao*/
    background-color:#3f1f10;

}

.btn-admin:hover{
    background-color:#5a2d18;
    color: white;
}

/* Espaçamento entre os icones e o texto dos botoes*/
.botoes button i{
    margin-right: 8px;
}

.modal-login{ /*camada que cobre a tela quando o modal abrir*/
    position: fixed; /* Mantem o modal na tela*/
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.60);/*escurece a tela de tras*/

    display: none; /*modal começa escondido*/
    justify-content: center;
    align-items: center;
}

/* Estiliza o modal*/
.conteudo-modal{
    position: relative;/* mantem tudo do modal no lugar que defini aqui(exceto oq eu fizer fora)*/

    background-color: white;
    width: 400px;
    padding: 30px;

    border-radius: 12px;
    text-align: center;

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.40);

    
}

/*Botao para fechar o modal*/
.btn-fechar-modal{
    position: absolute;

    top: 15px;
    right: 15px;

    background: none;
    border: none;

    font-size: 18px;
    cursor: pointer;

}

.conteudo-modal h2{
    font-size: 26px;
    margin-bottom: 8px;
}

.conteudo-modal p{
    margin-bottom: 25px;
    color: #555;
}

.lista-clientes {
    display: none;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;

    max-height: 180px; /* altura maxima da lista*/
    overflow-y: auto; /* cria rolagem vertical quando precisar*/
}

.lista-clientes button{
    padding: 12px;
    cursor: pointer;

    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.btn-cadastrar{
    width: 100%;
    padding: 12px;

    background-color: #5a2d18;
    color: white;

    border: none;
    border-radius: 6px;

    cursor: pointer;
}

.btn-selecionar-cliente{
    width: 100%;
    padding: 12px 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 6px;

    font-size: 15px;
    cursor: pointer;

}

.seletor-cliente{
    width: 100%;
    margin-bottom: 20px;
}

/*Botao de entrar apos sleecionar um cliente*/
.btn-entrar-cliente{
    display: none;

    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    color: #5a2d18;

    border: 1px solid #5a2d18;
    border-radius: 6px;

    font-size: 16px;
    cursor: pointer;
}

.btn-entrar-cliente:hover {
    background-color: #5a2d18;
    color: white;
}

/*Texto acima do botao do cadastro*/
.texto-cadastro{
    margin-bottom: 10px !important; /* esse !important é para compensar a regra generica que tem para conteudo modal*/
    color: #555;
    font-size: 14px;
}